*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-color: #0004 #fa2;

}

body {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    font-size: 1.3rem;
}

.headerUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
}

#headerUp__menu-checkbox {
    display: none;
}

.headerUp__menu-label {
    user-select: none;
}

body:has(#headerUp__menu-checkbox:checked) nav{
    display: flex;
}

.headerUp__item {
    font-size: 2rem;
    padding: 15px 10px;
}

h2 {
    font-size: 1.5rem;
    flex-grow: 1;
}

.headerDown {
    display: flex;
    justify-content: space-evenly;
    background-color: #fd5;
    padding: 3px 0;
    border-bottom: 3px solid #fa2;
}

.headerDown__item {
    flex-grow: 1;
    text-align: center;
    font-size: 1.8rem;
    padding: 10px;
    border-right: 1px solid #0005;
}

.headerDown__item:last-child {
    border-right: none;
} 

.currentPage {
    border-bottom: 5px solid #000a;
}


/*----------------------------------------------
----------------------- NAV -------------------
------------------------------------------------  */
nav {
    position: absolute;
    top: 3.9rem;
    display: none;
    flex-direction: column;
    background-color: #fa2;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #0004 #fa2;
}

.nav__section {
    border-bottom: 1px solid #0005;
}

nav div {
    display: flex;
    flex-direction: column;
}

.nav__divButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 4rem;
    border: none;
    text-decoration: none;
}

.nav__divButton:visited {
    color: #000;
} 

.nav__divButton button{
    text-align: left;
}

.nav__divButton-icon {
    padding:0 30px ;
    height: 100%;
    align-content: center;
}

.nav__divButton button {
    flex-grow: 1;
    height: 100%;
    background-color: transparent;
    border: none;
}

.apiarySelect { 
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}


/* -----------------------------------------------
-------------------- MAIN ------------------------
--------------------------------------------------*/
main {
    background-image: linear-gradient(#fd5, #fa2);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    padding: 20px;
}

.sectionMain {
    flex-grow: 1;
    border-bottom: 3px solid #fa2 ;
    padding: 15px 25px 0 25px;
    font-size: 1rem;
}

.sectionMain li::marker {
    content: '- ';
}

.mainApiary__name::before {
    content: 'Colmenar: ';
    color: #000;
    font-weight: lighter;
}

.apiarySelectButton {
    background-color: transparent;
    border: none;
    box-shadow: 0 0 5px #0004;
    min-height: 100%;
    font-size: 2.5rem;
    width: fit-content;
}

.newHive__mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    padding: 20px;
    padding-bottom: 40px;
    border-bottom: 2px solid #fa2;
}

.newHive__mainHeader-h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newHive__mainHeader-h3 label{
    font-size: 1.8rem;
}

.newHive__mainHeader button {
    background-color: #fa2;
    border: none;
    font-size: 1.2rem;
    padding: 5px;
    box-shadow: 0 0 10px #0005;
}

.newHive__sectionSelect {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-basis: 1;
}

.newHive__sectionSelect-tab {
    padding: 25px;
    flex-grow: 1;
    border: 1px solid red;
    text-align: center;
}

.newHive__sectionSelect-tab label {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

.newHive__sectionSelect-tab input[type="checkbox"] {
    display: none;
}

.newHive__sectionSelect-tab:has(input[type="checkbox"]:checked) {
    border-bottom: 3px solid #48e;
}



/* ------------------------------------------
------------------TABLE -------------------
------------------------------------------------*/

.table__dataName {
    width: 100px;
    padding: 0;
    margin: 0;
    text-align: left;
}

.table__dataValue {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #0005;
    width: 100%;
    height: 2rem;
    padding: 0 5px;
}

tr {
    height: 4rem;
}